*{
    margin: 0;
    padding: 0;
}

#navbar{
    display: flex;
    align-items: center;
}             

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.4;
}

#logo{
    margin: 10px 34px;
}
#logo img{
    margin: 3px 6px;
    height: 59px;
}

#navbar ul{
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
}
#navbar ul li a:hover{
    color:black;
    background-color:white;
  
}

#home{
display: flex;
flex-direction: column;
padding: 3px 200px;
height: 578px;
justify-content: center;
align-items: center;
}
#home::before{
    content: "";
    background:url("../img/photo2.jpg") ;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity:0.89 ;
    background-size: cover;

}
#home h1{
    color: white;
    text-align: center;
    font-family:serif ;
}

#home p{
    color: white;
    text-align: center;
    font-size:1.5rem ;
    font-family:serif ;
}

#services{
     margin:34px;
     display: flex;
}

#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background-color: #f2f2f2;
}

#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}
.h-primary{
    font-family: serif;
    font-size: 3.8rem;
    padding: 12px;
}
.h-secondary{
    font-family: serif;
    font-size: 2.3rem;
    padding: 12px;
   
}

#btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1rem;
    border-radius: 10px;
}