*{
    margin: 0;
    padding: 0;
}

#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}             

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.4;
}

#logo{
    margin: 10px 34px;
}
#logo img{
    margin: 3px 6px;
    height: 100px;
    width: 100px;
}

#navbar ul{
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
}
#navbar ul li a:hover{
    color:black;
    background-color:white;
  
}

#home{
display: flex;
flex-direction: column;
padding: 3px 200px;
height: 550px;
justify-content: center;
align-items: center;
}
#home::before{
    content: "";
    background:url("../img/photo2.jpg") ;
    position: absolute;
    height: 642px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity:0.89 ;
   

}
#home h1{
    color: white;
    text-align: center;
    font-family:serif ;
}

#home p{
    color: white;
    text-align: center;
    font-size:1.5rem ;
    font-family:serif ;
}

#services{
     margin:10px;
     display: flex;
}

#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 25px 10px;
    border-radius: 28px;
    background-color: #f2f2f2;
    margin-bottom: 20px;
}

#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}
#services .box p{
    font-family: serif;
}

.center{
    text-align: center;
}

.h-primary{
    font-family:'Courier New', Courier, monospace;
    font-size: 3.8rem;
    padding: 12px;
}
.h-secondary{
    font-family: serif;
    font-size: 2.3rem;
    padding: 12px;
   
}

#btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1rem;
    border-radius: 10px;
    cursor:pointer;
}

img{
    width: 300px;
}
#client-section{
    height: 344px;
    position: relative;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url("../img/photos3.jpg");
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
    background-size: cover;
}

#clients{
    display: flex;
    justify-content: center;
    text-align: center;
}
.client-item{
    padding: 34px;
}

#clients img{
    height: 100px;
    width: 190px;
}

#contact{
    position: relative;
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;     
     height: 100%;
     z-index: -1;
     opacity: 0.7;
     background: url("../img/photo5.jpg");
     background-size:cover;
    }

    footer{
        background-color: black;
        color: white;
        padding: 9px 20px;
    }

    #contact-box{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 34px;
    }

    #contact-box input, #contact-box textarea{
        width: 100%;
        padding: 0.5rem;
        border-radius: 9px;
        font-size: 1.1rem;
    }

    #contact-box form{
        width: 40%;
    }

    #contact-box label{
        font-size: 1.3rem;
        font-family: serif;
    }
#btn:hover{
    border-color: yellow;
    border-style:groove;
    border-width: 3px;
}
#services .box:hover{
   border-color: yellow;
   border-style: ridge;
   border-width: 4px;
}
#contact-box input:hover{
    border-color: greenyellow;
    border-style: groove;
    border-width: 3px;
}
#contact-box textarea:hover{
    border-color: greenyellow;
    border-style: groove;
    border-width: 3px;
}

#contact-boxmessage:hover{
    border-color: greenyellow;
    border-style: groove;
    border-width: 3px;
}